@model EditPetViewModel
@{
    ViewData["Title"] = "Edição do Pet";
}

<style>
    .list-group-item {
        border: none !important;
        padding: 0.5rem 1.25rem !important;
    }
</style>

<div class="container">
    <h3>
        Edição do Pet
    </h3>
    <br />
    <form asp-controller="Pet" asp-action="Edit" method="post" enctype="multipart/form-data">
        <input asp-for="Id" class="form-control" />
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-6">
                <div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"><b>Nome: *</b></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-group">
                                <label asp-for="Breed" class="control-label"><b>Raça: *</b></label>
                                <input asp-for="Breed" class="form-control" />
                                <span asp-validation-for="Breed" class="text-danger"></span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-group">
                                <label asp-for="Color" class="control-label"><b>Cor: *</b></label>
                                <input asp-for="Color" class="form-control" />
                                <span asp-validation-for="Color" class="text-danger"></span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-group">
                                <label asp-for="Age" class="control-label"><b>Idade (meses):</b></label>
                                <input asp-for="Age" class="form-control" onKeyPress="if(this.value.length==2) return false;" />
                                <span asp-validation-for="Age" class="text-danger"></span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-group">
                                <label asp-for="Weight" class="control-label"><b>Peso (kg):</b></label>
                                <input asp-for="Weight" class="form-control" />
                                <span asp-validation-for="Weight" class="text-danger"></span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-group">
                                <label><b>Sexo: *</b></label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="TypeGender" value="@ETypeGender.Female" @(Model.TypeGender == ETypeGender.Female ? "checked" : "")>
                                    <label class="form-check-label">
                                        Fêmea
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="TypeGender" value="@ETypeGender.Male" @(Model.TypeGender == ETypeGender.Male ? "checked" : "")>
                                    <label class="form-check-label">
                                        Macho
                                    </label>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-group">
                                <label><b>Castrado: *</b></label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Castrated" value=true @(Model.Castrated ? "checked" : "")>
                                    <label class="form-check-label">
                                        Sim
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Castrated" value=false @(Model.Castrated == false ? "checked" : "")>
                                    <label class="form-check-label">
                                        Não
                                    </label>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <span><b>Vacinas:</b></span>
                            @foreach (var vaccine in Model.Vaccines)
                            {
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="appliedvaccines" value="@vaccine.Id" @(vaccine.Checked ? "checked" : "")>
                                    <label class="form-check-label">@vaccine.Description</label>
                                </div>
                            }
                        </li>
                        <li class="list-group-item">
                            <div class="form-group">
                                <label asp-for="Location" class="control-label"><b>Localidade: *</b></label>
                                <input asp-for="Location" class="form-control" />
                                <span asp-validation-for="Location" class="text-danger"></span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-group">
                                <label asp-for="TypePet" class="control-label"><b>Tipo: *</b></label>
                                <select asp-for="TypePet" class="custom-select" asp-items="Html.GetEnumSelectList<ETypePet>()"></select>
                                <span asp-validation-for="TypePet" class="text-danger"></span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-group">
                                <label asp-for="Image" class="control-label"><b>Imagem:</b></label>
                                <div class="custom-file">
                                    <input asp-for="Image" accept="image/*">
                                    <label asp-for="Image"></label>
                                </div>
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Observation" class="control-label"><b>Observações:</b></label>
                    <textarea asp-for="Observation" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Observation" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <a asp-controller="Pet" asp-action="Index" class="btn btn-primary btn-lg active" style="background-color: #7187FF; border-color: #0866F2;">Voltar</a>
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-warning btn-lg" style="color: white;">Alterar</button>
            </div>
            <div class="col-md-5"></div>
        </div>
    </form>
</div>
