@model IEnumerable<GridPetViewModel>
@{
    ViewData["Title"] = "Pets";
    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
    var claim = claimsIdentity.FindAll("Pet");
}

<div class="container">
    <h3>
        Pets
    </h3>
    <br />
    @if (claim is not null && claim.Any(x => x.Value == "Create"))
    {
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 20px;">
                <a class="btn btn-success btn-lg" asp-controller="Pet" asp-action="Create">
                    <strong>
                        <i class="fa-solid fa-plus"></i> Novo
                    </strong>
                </a>
            </div>
        </div>
    }
    @if (Model.Count() > 0)
    {
        var count = 0;

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
                <table class="table table-bordered" id="tablePets">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Código</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Raça</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Sexo</th>
                            <th scope="col">Status</th>
                            <th scope="col">Dt. Cadastro</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count = count + 1;
                            <tr>
                                <th scope="row">@count</th>
                                <td>@item.IdPet</td>
                                <td>@item.Name</td>
                                <td>@item.Breed</td>
                                <td>@Html.DisplayTextFor(model => item.Type)</td>
                                <td>@Html.DisplayTextFor(model => item.Genre)</td>
                                <td>@Html.DisplayTextFor(model => item.Status)</td>
                                <td>@item.CreateDate</td>
                                <td>
                                    <a style="font-size: 20px; color: #6a6f74;" asp-controller="Pet" asp-action="Details" asp-route-id="@item.IdPet" title="Detalhes">
                                        <strong>
                                            <i class="fa-solid fa-eye"></i>
                                        </strong>
                                    </a>
                                    @if (claim is not null && claim.Any(x => x.Value == "DetailsAdopter") && item.Status == EStatusPet.Adopted)
                                    {
                                        <a style="font-size: 20px; color: #6a6f74; " asp-controller="Pet" asp-action="DetailsAdopterPet" asp-route-idAdopter="@item.IdAdopter" title="Adotante">
                                            <strong>
                                                <i class="fa-solid fa-address-card"></i>
                                            </strong>
                                        </a>
                                    }
                                    @if (claim is not null && claim.Any(x => x.Value == "Edit") && item.Status != EStatusPet.Adopted)
                                    {
                                        <a style="font-size: 20px;" asp-controller="Pet" asp-action="Edit" asp-route-id="@item.IdPet" title="Alterar">
                                            <strong>
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </strong>
                                        </a>
                                    }
                                    @if (claim is not null && claim.Any(x => x.Value == "Edit") && item.Status != EStatusPet.Adopted)
                                    {
                                        <a style="font-size: 20px; color: #e52323;" asp-controller="Pet" asp-action="Delete" asp-route-id="@item.IdPet" title="Excluir">
                                            <strong>
                                                <i class="fa-solid fa-circle-minus"></i>
                                            </strong>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <center><span>Não existe pets vinculados a esse usuário!</span></center>
    }
</div>