@model IEnumerable<DetailPetViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h3>
        Catálogo de Pets
    </h3>
    <br />
    <div class="row" style="margin-bottom: 20px;">
        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="list-group">
                        <div style="background-color: #f5f5f5; border-radius: 5px;border-width: 1px; border-style: solid;">
                            <div style="padding: 10% 5% 10% 5%">
                                <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(item.ImageBytes))" style="width: 100%;">
                                <p>
                                    <div style="font-size: 20px; font-weight:bold;">@item.Name</div>
                                    <div style="font-size: 15px;"><b>Raça:</b> @item.Breed</div>
                                    <div style="font-size: 15px;"><b>Tipo:</b> @Html.DisplayTextFor(model => item.TypePet)</div>
                                    <div style="font-size: 15px;">
                                        <a asp-controller="Donation" asp-action="GiveAway" asp-route-idPet="@item.Id">
                                            <i class="fa-solid fa-heart" style="color: forestgreen"></i>
                                            <b style="color:forestgreen">Doe Aqui</b>
                                        </a>
                                    </div>
                                </p>
                                <a asp-controller="Pet" asp-action="Details" asp-route-id="@item.Id">
                                    <span style="font-size: 15px; font-weight:bold; float:right">+ Informações</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <center><span>Não existe pets disponíveis!</span></center>
        }
    </div>
</div>
